<header class="flex justify-between items-center p-4 bg-gray-800 text-white">
  <h1 class="text-2xl">Axel García</hheader>
  <nav>
    <a href="/about">Sobre mí</a>
    <a href="/project">Proyecto</a>
    <a href="/contact">Contacto</a>
  </nav>

</header>