---
import Badge from './Badge.astro'
import HeaderIcons from './icons/HeaderIcons.astro'
---
<header class="  flex justify-between items-center py-3 w-[1120px] mx-auto">
      <div class="flex justify-start py-10">
          <HeaderIcons/>
      </div>
      <nav class="flex flex-row gap-x-10 opacity-80 justify-end px-12 text-white"> 
          <a href="/about"><Badge> Sobre mí </Badge></a>
          <a href="/project"><Badge>Proyecto</Badge></a>
          <a href="/contact"><Badge>Contacto</Badge></a>
      </nav>
</header>