<header class="flex justify-between items-center p-4 bg-gray-800 text-white">
  <h1 class="flex text-2xl">Axel García</h1>
    <div class="justify-between items-center ">
        <nav class="flex space-x-4  items-center justify-between px-4"> 
          <a href="/about">Sobre mí</a>
          <a href="/project">Proyecto</a>
          <a href="/contact">Contacto</a>
        </nav>
    </div>  
</header>